<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Best Movies</h1>
    
    <!-- Itera sulla lista di canzoni e mostra le proprietà -->
    <ul>
        <li th:each="movie : ${movies}">
            <span th:text="${movie.id}">Movie ID</span> - <span th:text="${movie.title}">Movie Title</span> 
        </li>
    </ul>
</body>
</html>